<!DOCTYPE html>
<html>
<head>
	<title>Cadastro de Hotel</title>
</head>
<body>
<h1>Cadastro de Hotel</h1>
<form action="#" th:action="${hotel.id == null} ? @{/hotel/salvar} : @{/hotel/editar/hotel.id}" th:object="${hotel}" method="POST">
	<label for="cnpj">CNPJ:</label>
	<input type="text" id="cnpj" name="cnpj" required><br>

	<label for="nome">Nome:</label>
	<input type="text" id="nome" name="nome" required><br>

	<label for="cidade">Cidade:</label>
	<input type="text" id="cidade" name="cidade" required><br>

	<label for="email">Email:</label>
	<input type="text" id="email" name="email" required><br>

	<label for="senha">Senha:</label>
	<input type="password" id="senha" name="senha" required><br>

	<button type="submit" class="btn btn-info col-2">Salvar</button>

</body>
</html>
