<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
<head>
<meta charset="UTF-8">
</head>
<body>
	<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
		<ul class="nav nav-pills">
			<li class="nav-item"><a class="nav-link " th:href="@{/}"> <i
					class="oi oi-home"></i> <span th:text="#{sidebar.link.home}"></span>
			</a></li>
		</ul>

		<div>
			<ul class="nav nav-pills">
				<li class="nav-item"><a class="nav-link"
										th:href="@{/listaHoteis}"> <i class="oi oi-spreadsheet"></i>
					<span th:text="#{sidebar.link.listarHoteis}"></span>
				</a></li>
			</ul>
		</div>

		<div sec:authorize="hasRole('ADM')">
			<ul class="nav nav-pills">
				<li class="nav-item"><span class="nav-link active"
					th:text="#{sidebar.titulo.admin}"></span></li>

				<li class="nav-item"><a class="nav-link"
										th:href="@{/Admin/cadastroHotel}"> <i class="oi oi-plus"></i> <span
						th:text="#{sidebar.link.cadastrarHoteis}"></span>
				</a></li>
				<li class="nav-item"><a class="nav-link"
										th:href="@{/Admin/listaHoteis}"> <i class="oi oi-spreadsheet"></i>
						<span th:text="#{sidebar.link.listarHoteis}"></span>
				</a></li>

				<li class="nav-item"><a class="nav-link"
										th:href="@{/Admin/cadastroSite}"> <i class="oi oi-plus"></i>
					<span th:text="#{sidebar.link.cadastrarSites}"></span>
				</a></li>
				<li class="nav-item"><a class="nav-link"
										th:href="@{/Admin/listaSites}"> <i class="oi oi-spreadsheet"></i>
					<span th:text="#{sidebar.link.listarSites}"></span>
				</a></li>
			</ul>
		</div>

		<div sec:authorize="hasRole('HOT')">
			<ul class="nav nav-pills">
				<li class="nav-item"><span class="nav-link active"
					th:text="#{sidebar.titulo.hotel}"></span></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/Hotel/cadastroPromocao}"> <i class="oi oi-plus"></i> <span
						th:text="#{sidebar.link.cadastrarPromo}"></span>
				</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/Hotel/listaPromocoes}"> <i class="oi oi-spreadsheet"></i>
						<span th:text="#{sidebar.link.listarPromo}"></span>
				</a></li>
			</ul>
		</div>

		<div sec:authorize="hasRole('SIT')">
			<ul class="nav nav-pills">
				<li class="nav-item"><span class="nav-link active"
										   th:text="#{sidebar.titulo.site}"></span></li>
				<li class="nav-item"><a class="nav-link"
										th:href="@{/Site/listaPromocoes}"> <i class="oi oi-spreadsheet"></i>
					<span th:text="#{sidebar.link.listarPromo}"></span>
				</a></li>
			</ul>
		</div>
	</nav>
</body>
</html>